<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7883724926226847" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7883724926226847" rpy="0 0 0"/>
            <geometry>
                <box size="0.5057661940626627 1.6723747673308147 1.4875242562203779" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7883724926226847" rpy="0 0 0"/>
            <geometry>
                <box size="0.5057661940626627 1.6723747673308147 1.4875242562203779" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0.8361873836654073 0.7883724926226847" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0 0.7247842371433486 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7247842371433486 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5256744989961144 1.4495684742866972 0.8892594713309288" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7247842371433486 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5256744989961144 1.4495684742866972 0.8892594713309288" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 1.4495684742866972 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0.936881490179997 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.936881490179997 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3423618314783707 1.873762980359994 1.5767449852453694" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.936881490179997 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3423618314783707 1.873762980359994 1.5767449852453694" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 1.873762980359994 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0.7559557377568465 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7559557377568465 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8178529116376132 1.511911475513693 1.4511674514985906" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7559557377568465 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8178529116376132 1.511911475513693 1.4511674514985906" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 1.511911475513693 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0.2800972980768544 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2800972980768544 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3156176302037532 0.5601945961537088 1.2744681906040602" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2800972980768544 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3156176302037532 0.5601945961537088 1.2744681906040602" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0.5601945961537088 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0.1360082967503824 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1360082967503824 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5869982709504775 0.2720165935007648 1.4425960560391125" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1360082967503824 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5869982709504775 0.2720165935007648 1.4425960560391125" />
            </geometry>
        </collision>
    </link>
</robot>