<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.3317664126967125" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3317664126967125" rpy="0 0 0"/>
            <geometry>
                <box size="0.8763253217621172 1.603937084821751 0.661532825393425" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3317664126967125" rpy="0 0 0"/>
            <geometry>
                <box size="0.8763253217621172 1.603937084821751 0.661532825393425" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.0 0.15472672061039683" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.15472672061039683" rpy="0 0 0"/>
            <geometry>
                <box size="1.238552129112831 0.6463770820874185 0.30945344122079366" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.15472672061039683" rpy="0 0 0"/>
            <geometry>
                <box size="1.238552129112831 0.6463770820874185 0.30945344122079366" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.0 0.46147166326216443" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.46147166326216443" rpy="0 0 0"/>
            <geometry>
                <box size="0.6520254848588547 1.7942309209890988 0.9229433265243289" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.46147166326216443" rpy="0 0 0"/>
            <geometry>
                <box size="0.6520254848588547 1.7942309209890988 0.9229433265243289" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="0.2283414237434488 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2283414237434488 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4566828474868976 0.7567411902739274 1.463434862861468" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2283414237434488 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4566828474868976 0.7567411902739274 1.463434862861468" />
            </geometry>
        </collision>
    </link>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.0 0.8555608488110181" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.8555608488110181" rpy="0 0 0"/>
            <geometry>
                <box size="0.7522508200976188 0.398348113569441 1.7111216976220363" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.8555608488110181" rpy="0 0 0"/>
            <geometry>
                <box size="0.7522508200976188 0.398348113569441 1.7111216976220363" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.662532825393425" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.30945344122079366" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_3" type="revolute">
       <parent link="1"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.6192760645564155 0.0 0.15472672061039683" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.2283414237434488 0.0 0.731717431430734" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>