<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7630204801227004" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7630204801227004" rpy="0 0 0"/>
            <geometry>
                <box size="1.0717680182195766 1.0624570294367597 1.5240409602454008" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7630204801227004" rpy="0 0 0"/>
            <geometry>
                <box size="1.0717680182195766 1.0624570294367597 1.5240409602454008" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.5152215795719678 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.5152215795719678 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7032326513805028 1.0304431591439356 0.6329752181545396" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.5152215795719678 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7032326513805028 1.0304431591439356 0.6329752181545396" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.0 0.6942753448045869" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.6942753448045869" rpy="0 0 0"/>
            <geometry>
                <box size="0.5522952274481547 0.9759404827417586 1.3885506896091737" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.6942753448045869" rpy="0 0 0"/>
            <geometry>
                <box size="0.5522952274481547 0.9759404827417586 1.3885506896091737" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="-0.7374086369224295 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.7374086369224295 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.474817273844859 1.4637826954921387 0.31237583707317995" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.7374086369224295 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.474817273844859 1.4637826954921387 0.31237583707317995" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="fixed">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.5312285147183798 0.7630204801227004" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="0_2" type="fixed">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.5250409602454007" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_3" type="fixed">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.27614761372407737 0.0 0.6942753448045869" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>