<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.9973645514421035" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9973645514421035" rpy="0 0 0"/>
            <geometry>
                <box size="0.6025426740728895 1.795316473240475 1.992729102884207" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9973645514421035" rpy="0 0 0"/>
            <geometry>
                <box size="0.6025426740728895 1.795316473240475 1.992729102884207" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.5418761793266935 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.5418761793266935 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6053865327238581 1.083752358653387 0.7912317390772963" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.5418761793266935 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6053865327238581 1.083752358653387 0.7912317390772963" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.9987360482301753 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9987360482301753 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9974720964603505 1.6231393574150705 1.7182134613626607" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9987360482301753 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9974720964603505 1.6231393574150705 1.7182134613626607" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="0.0 0.0 0.7567711326667226" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.7567711326667226" rpy="0 0 0"/>
            <geometry>
                <box size="1.7858374299868032 0.5464770643954558 1.5135422653334452" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.7567711326667226" rpy="0 0 0"/>
            <geometry>
                <box size="1.7858374299868032 0.5464770643954558 1.5135422653334452" />
            </geometry>
        </collision>
    </link>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.9931451092973287 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.9931451092973287 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9913127998956414 1.9862902185946574 1.8325632359057016" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.9931451092973287 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9913127998956414 1.9862902185946574 1.8325632359057016" />
            </geometry>
        </collision>
    </link>
    <link name="5">
        <inertial>
            <origin xyz="0.7268735282310879 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.7268735282310879 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4537470564621757 1.9188582478452707 1.9734673959426747" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.7268735282310879 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4537470564621757 1.9188582478452707 1.9734673959426747" />
            </geometry>
        </collision>
    </link>
    <link name="6">
        <inertial>
            <origin xyz="0.0 0.9799731454865147 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.9799731454865147 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7329412662084405 1.9599462909730294 0.6628856171674271" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.9799731454865147 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7329412662084405 1.9599462909730294 0.6628856171674271" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="fixed">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.8976582366202375 0.9973645514421035" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_2" type="fixed">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.30269326636192906 0.5418761793266935 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="0_3" type="fixed">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.993729102884207" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="3_4" type="fixed">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 0.2732385321977279 0.7567711326667226" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_5" type="fixed">
       <parent link="2"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="1.9974720964603505 0.0 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_6" type="fixed">
       <parent link="2"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.9987360482301753 0.8115696787075353 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>