<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.8037011101689798" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8037011101689798" rpy="0 0 0"/>
            <geometry>
                <box size="0.9028921738595936 1.5692310310743816 1.6054022203379597" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8037011101689798" rpy="0 0 0"/>
            <geometry>
                <box size="0.9028921738595936 1.5692310310743816 1.6054022203379597" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.38902111791329497 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.38902111791329497 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7780422358265899 1.2556788090623408 0.3753632807043418" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.38902111791329497 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7780422358265899 1.2556788090623408 0.3753632807043418" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.0 -0.31184227860486585 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.31184227860486585 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7502150958074039 0.6236845572097317 1.3544885433717122" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.31184227860486585 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7502150958074039 0.6236845572097317 1.3544885433717122" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="-0.8506452084352232 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.8506452084352232 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7012904168704464 1.3409207156996912 1.0902694723719897" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.8506452084352232 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7012904168704464 1.3409207156996912 1.0902694723719897" />
            </geometry>
        </collision>
    </link>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.7013074049388347 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.7013074049388347 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2594509771785394 1.4026148098776694 0.4027332560723881" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.7013074049388347 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2594509771785394 1.4026148098776694 0.4027332560723881" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="fixed">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.4514460869297968 0.0 0.8037011101689798" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="0_2" type="fixed">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 -0.7846155155371908 0.8037011101689798" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_3" type="fixed">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.8751075479037019 -0.31184227860486585 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="3_4" type="fixed">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.8506452084352232 0.6704603578498456 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>