<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.2378196047465297" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.2378196047465297" rpy="0 0 0"/>
            <geometry>
                <box size="1.5950483331886955 1.7023780247844469 0.4736392094930594" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.2378196047465297" rpy="0 0 0"/>
            <geometry>
                <box size="1.5950483331886955 1.7023780247844469 0.4736392094930594" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.0 0.12914331180937122" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.12914331180937122" rpy="0 0 0"/>
            <geometry>
                <box size="0.8099157488164841 0.7344460519990582 0.25828662361874244" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.12914331180937122" rpy="0 0 0"/>
            <geometry>
                <box size="0.8099157488164841 0.7344460519990582 0.25828662361874244" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.0 -0.22192318857775556 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.22192318857775556 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.116779832784348 0.4438463771555111 0.4988322093715193" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.22192318857775556 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.116779832784348 0.4438463771555111 0.4988322093715193" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="0.0 0.4053726889740019 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.4053726889740019 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9870613487469589 0.8107453779480038 0.41481636873539673" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.4053726889740019 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9870613487469589 0.8107453779480038 0.41481636873539673" />
            </geometry>
        </collision>
    </link>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.0 0.9084923113565043" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.9084923113565043" rpy="0 0 0"/>
            <geometry>
                <box size="0.4876360734239863 0.3064959097798563 1.8169846227130086" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.9084923113565043" rpy="0 0 0"/>
            <geometry>
                <box size="0.4876360734239863 0.3064959097798563 1.8169846227130086" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.4746392094930594" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 -0.3672230259995291 0.12914331180937122" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.0 0.8511890123922234 0.2378196047465297" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_4" type="revolute">
       <parent link="1"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.25828662361874244" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>