<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.9510231382410093" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9510231382410093" rpy="0 0 0"/>
            <geometry>
                <box size="1.7021761366191923 1.1573415483954232 1.9000462764820185" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9510231382410093" rpy="0 0 0"/>
            <geometry>
                <box size="1.7021761366191923 1.1573415483954232 1.9000462764820185" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.7507268751847616 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.7507268751847616 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4013656462456894 1.501453750369523 0.9105819071546518" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.7507268751847616 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4013656462456894 1.501453750369523 0.9105819071546518" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.0 0.30241792766728137" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.30241792766728137" rpy="0 0 0"/>
            <geometry>
                <box size="1.0679801249776637 0.7939199407780668 0.6048358553345627" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.30241792766728137" rpy="0 0 0"/>
            <geometry>
                <box size="1.0679801249776637 0.7939199407780668 0.6048358553345627" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="-0.7465481465260134 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.7465481465260134 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4930962930520268 0.7954226946774253 0.7775350405950326" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.7465481465260134 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4930962930520268 0.7954226946774253 0.7775350405950326" />
            </geometry>
        </collision>
    </link>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.0 0.5029574705012172" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.5029574705012172" rpy="0 0 0"/>
            <geometry>
                <box size="1.5252656014208397 1.3943491752543733 1.0059149410024344" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.5029574705012172" rpy="0 0 0"/>
            <geometry>
                <box size="1.5252656014208397 1.3943491752543733 1.0059149410024344" />
            </geometry>
        </collision>
    </link>
    <link name="5">
        <inertial>
            <origin xyz="0.0 0.5837853484335761 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.5837853484335761 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4865364611951849 1.1675706968671522 1.5120602208193177" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.5837853484335761 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4865364611951849 1.1675706968671522 1.5120602208193177" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.5786707741977116 0.9510231382410093" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.7507268751847616 0.4552909535773259" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.5339900624888319 0.0 0.30241792766728137" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="0_4" type="revolute">
       <parent link="0"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.9010462764820186" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="3_5" type="revolute">
       <parent link="3"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.7465481465260134 0.39771134733871266 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>