<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.9938306612877253" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9938306612877253" rpy="0 0 0"/>
            <geometry>
                <box size="1.319198414281328 0.8370395588288958 1.9856613225754507" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9938306612877253" rpy="0 0 0"/>
            <geometry>
                <box size="1.319198414281328 0.8370395588288958 1.9856613225754507" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.17376675216080617 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.17376675216080617 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.197401941177507 0.34753350432161234 1.29201362858509" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.17376675216080617 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.197401941177507 0.34753350432161234 1.29201362858509" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.7114013477039356 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.7114013477039356 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0081009964282561 1.4228026954078712 0.41152656495230033" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.7114013477039356 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0081009964282561 1.4228026954078712 0.41152656495230033" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.4185197794144479 0.9938306612877253" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.34753350432161234 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>