<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7752463741047516" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7752463741047516" rpy="0 0 0"/>
            <geometry>
                <box size="0.9921008652438603 1.02885107230266 1.5484927482095032" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7752463741047516" rpy="0 0 0"/>
            <geometry>
                <box size="0.9921008652438603 1.02885107230266 1.5484927482095032" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.2587227368100819 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2587227368100819 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3949248086631123 0.5174454736201638 0.8500603033669056" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2587227368100819 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3949248086631123 0.5174454736201638 0.8500603033669056" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.0 0.43933750493075807" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.43933750493075807" rpy="0 0 0"/>
            <geometry>
                <box size="1.265660254577985 0.2924383979987223 0.8786750098615161" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.43933750493075807" rpy="0 0 0"/>
            <geometry>
                <box size="1.265660254577985 0.2924383979987223 0.8786750098615161" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="0.2872114720146679 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2872114720146679 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5744229440293358 1.218227817252541 0.9938191092200627" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2872114720146679 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5744229440293358 1.218227817252541 0.9938191092200627" />
            </geometry>
        </collision>
    </link>
    <link name="4">
        <inertial>
            <origin xyz="-0.8087616568724272 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.8087616568724272 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6175233137448544 0.48489964752966186 0.7588399140047846" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.8087616568724272 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6175233137448544 0.48489964752966186 0.7588399140047846" />
            </geometry>
        </collision>
    </link>
    <link name="5">
        <inertial>
            <origin xyz="0.19986008985630582 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.19986008985630582 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.39972017971261165 1.7822319577631518 0.26815868981861035" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.19986008985630582 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.39972017971261165 1.7822319577631518 0.26815868981861035" />
            </geometry>
        </collision>
    </link>
    <link name="6">
        <inertial>
            <origin xyz="0.0 -0.8860767217862056 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.8860767217862056 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7319309190392371 1.7721534435724111 1.6996703778672346" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.8860767217862056 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7319309190392371 1.7721534435724111 1.6996703778672346" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.51442553615133 0.7752463741047516" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.2587227368100819 0.4250301516834528" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.6328301272889925 0.0 0.43933750493075807" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="1_4" type="revolute">
       <parent link="1"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.19746240433155615 0.2587227368100819 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.49605043262193016 0.0 0.7752463741047516" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="3_6" type="revolute">
       <parent link="3"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.2872114720146679 -0.6091139086262705 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>