<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7441061764649878" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7441061764649878" rpy="0 0 0"/>
            <geometry>
                <box size="0.9984372226361682 1.0421210302590143 0.5346756006660243" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7441061764649878" rpy="0 0 0"/>
            <geometry>
                <box size="0.9984372226361682 1.0421210302590143 0.5346756006660243" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0.5210605151295071 0.7441061764649878" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0 0.6610085722398207 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6610085722398207 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.42292865119983836 1.3220171444796414 1.1510837270540355" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6610085722398207 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.42292865119983836 1.3220171444796414 1.1510837270540355" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0.6610085722398207 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0.6110743846278328 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6110743846278328 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3700078847202093 1.2221487692556656 1.4882123529299756" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6110743846278328 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3700078847202093 1.2221487692556656 1.4882123529299756" />
            </geometry>
        </collision>
    </link>
</robot>